body {
  margin-left: 10px;
  margin-top: 10px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  }

img {
  width: 25%;
  height: 25%;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}